.bannerparagraph{
    color: gray;
}
.buy-now-button{
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 13px;
    background-color: black;
    color: white;

}
.card, .card-footer{
    border: none;
    outline: none;
    background-color: white;
    box-sizing: none;
    
}
.card{
    box-shadow: 3px 3px 12px gray;
    margin: 10px 10px;
}
.card-footer{
    box-shadow: none;
    background-color: white;

}
.perfume{
  
    padding: 10px;
}

.image-item{
    display: flex;
    flex-direction: column;
}